@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,600;0,700;1,400&family=Raleway:wght@400;500;600;700&display=swap");
$default-font-size: 1.4rem;
$default-font-weight: 400;
$main-bg: hsl(218, 28%, 13%); // (main background)
$secondary-bg: hsl(217, 28%, 15%); // (intro and email sign up background)
$footer-bg: hsl(216, 53%, 9%); // (footer background)
$testimonials-bg: hsl(219, 30%, 18%); // (testimonials background)

$cyan-cta: hsl(176, 68%, 64%); // (inside call-to-action gradient)
$blue-cta: hsl(198, 60%, 50%); // (inside call-to-action gradient)
$light-Red-error: hsl(0, 100%, 63%); //  (error)
$text-color: #fff;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  user-select: none;
  background-color: $secondary-bg;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  width: 100%;
  max-width: 100%;
  color: $text-color;
  &::-webkit-scrollbar {
    width: 0.65rem;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 2rem;
  }
}

a,
button {
  color: $text-color;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  line-height: 1.45;
  font-family: "Raleway", sans-serif;
}

.btn {
  cursor: pointer;
  border: 0;
  position: relative;
  display: inline-block;
  background: none;
  color: $text-color;
  padding: 1.25rem 7rem;

  font-size: clamp(1.4rem, 1.1vw, 1.8rem);
  font-weight: 600;
  letter-spacing: 0.1rem;
  border-radius: 5rem;
  transition: all 0.2s ease-in;

  &:active {
    transform: translateY(-0.15rem);
  }

  &__blue {
    background-image: linear-gradient(
      to left,
      rgba($color: $blue-cta, $alpha: 1),
      rgba($color: $cyan-cta, $alpha: 0.75)
    );
  }
  &__cyan {
    background-image: linear-gradient(
      to left,
      rgba($color: $cyan-cta, $alpha: 0.75),
      rgba($color: $blue-cta, $alpha: 1)
    );
  }
  &__cyan,
  &__blue {
    &:hover {
      background-image: linear-gradient(
          to left,
          rgba($color: $cyan-cta, $alpha: 1),
          rgba($color: $cyan-cta, $alpha: 0.5)
        ),
        linear-gradient(
          to left,
          rgba($color: $blue-cta, $alpha: 1),
          rgba($color: $blue-cta, $alpha: 1)
        ),
        linear-gradient(
          to left,
          rgba($color: $cyan-cta, $alpha: 0.5),
          rgba($color: $cyan-cta, $alpha: 1)
        );
    }
  }
}
p {
  font-weight: 400;
  line-height: 1.65;
  opacity: 0.75;
}

@mixin mainGridTemplate {
  grid-template-columns:
    [all-start] 5% [center-start] repeat(10, [col-start] (90% / 10) [col-end])
    [ center-end ] 5% [all-end];
}
