.team {
  grid-column: col-start 1 / col-end 10;

  display: grid;
  row-gap: 3.8rem;

  background-image: url(../images/bg-quotes.png);
  background-repeat: no-repeat;
  background-position-y: 0%;
  background-position-x: 2rem;
  background-size: 3rem;

  padding: 2rem 0;
  &__card {
    padding: 2rem 2.5rem;
    margin: 0 1rem;
    background-color: $testimonials-bg;
    border-radius: 0.48rem;
    box-shadow: 0.2rem 0.4rem 0.66rem $testimonials-bg;
    &__paragraph {
      font-size: clamp(1.2rem, 1.1vw, 1.5vw);
      margin-bottom: 2rem;
    }
    &__profile {
      display: flex;
      align-items: center;
    }
    &__name {
      font-size: clamp(1.2rem, 1.2vw, 1.5vw);
      margin-left: 1.8rem;
      span {
        padding-top: 0.25rem;
        font-size: clamp(0.9rem, 1vw, 1.5vw);
        font-weight: 400;
        opacity: 0.75;
        display: block;
      }
    }
    &__avatar {
      width: 3.5rem;
      border-radius: 50%;
    }
  }

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.5rem;
    background-position-x: 0.5rem;
    background-size: 5rem;
    padding-top: 3rem;
  }
  @media screen and (min-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
    &__card {
      padding: 3rem 2.5rem;
    }
  }
}
