@import "base";
@import "header";
@import "hero";

.main {
  background-color: $main-bg;
  display: grid;
  @include mainGridTemplate;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 100%;
  row-gap: 12rem;
  top: -38.6rem;
  padding-top: 25rem;
  padding-bottom: 30rem;
  margin-bottom: -39rem;
  @media screen and (min-width: 768px) {
    top: -28rem;
    padding-top: 0rem;
    margin-bottom: -30rem;
  }
}

@import "features";
@import "process";
@import "team";
@import "footer";
