<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <title><%= htmlWebpackPlugin.options.title %></title>

    <!--  Ionicons for icons -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>

    <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
  </head>
  <body>
    <!-- ======== ======== HEADER  ======== ======== -->
    <header id="header" class="header">
      <figure class="header__logo-wrapper">
        <img src="" alt="" id="logo" class="logo" />
      </figure>
      <nav id="nav" class="nav">
        <ul class="nav__navlist">
          <li class="nav__navitem">
            <a href="#features" class="nav__navlink">Features</a>
          </li>
          <li class="nav__navitem">
            <a href="#process" class="nav__navlink">Team</a>
          </li>
          <li class="nav__navitem">
            <a href="#footer" class="nav__navlink">Sign In</a>
          </li>
        </ul>
      </nav>
    </header>
    <!-- ======== ======== HEADER END  ======== ======== -->
    <!-- ======== ======== HERO  ======== ======== -->
    <section class="hero">
      <figure class="hero__img-wrapper">
        <img src="" alt="illustration intro" class="hero__img" />
      </figure>

      <div class="hero__content">
        <h1 class="hero__content__heading">
          <span>All your files in one secure</span> location, accessible
          <span> anywhere.</span>
        </h1>
        <p class="hero__content__paragraph">
          Fylo stores all your most important files in one secure location.
          Access them wherever you need, share and collaborate with friends
          family, and co-workers.
        </p>
        <button class="hero__content__btn btn btn__blue">Get Started</button>
      </div>
      <figure class="hero__bg-curvy-wrapper">
        <img src="" alt="illustration intro" class="hero__bg-curvy" />
      </figure>
    </section>
    <!-- ======== ======== HERO END  ======== ======== -->
    <!-- ======== ======== MAIN  ======== ======== -->
    <main class="main">
      <!-- ======== ======== FEAUTRES  ======== ======== -->
      <section id="features" class="features">
        <div class="features__feature">
          <img
            class="features__feature__icon features__feature__icon--anywhere"
            src=""
            alt="Access your files, anywhere icon"
          />
          <h2 class="features__feature__heading">
            Access your files, anywhere
          </h2>
          <p class="features__feature__paragraph">
            The ability to use a smartphone, tablet, or computer to access your
            account means your files follow you everywhere.
          </p>
        </div>
        <div class="features__feature">
          <img
            class="features__feature__icon features__feature__icon--security"
            src=""
            alt="Security you can trust icon"
          />
          <h2 class="features__feature__heading">Security you can trust</h2>
          <p class="features__feature__paragraph">
            2-factor authentication and user-controlled encryption are just a
            couple of the security features we allow to help secure your files.
          </p>
        </div>
        <div class="features__feature">
          <img
            class="features__feature__icon features__feature__icon--collaboration"
            src=""
            alt="Real-time collaboration icon"
          />
          <h2 class="features__feature__heading">Real-time collaboration</h2>
          <p class="features__feature__paragraph">
            Securely share files and folders with friends, family and colleagues
            for live collaboration. No email attachments required.
          </p>
        </div>
        <div class="features__feature">
          <img
            class="features__feature__icon features__feature__icon--anytype"
            src=""
            alt="Store any type of file icon"
          />
          <h2 class="features__feature__heading">Store any type of file</h2>
          <p class="features__feature__paragraph">
            Whether you're sharing holidays photos or work documents, Fylo has
            you covered allowing for all file types to be securely stored and
            shared.
          </p>
        </div>
      </section>
      <!-- ======== ======== FEAUTRES END  ======== ======== -->
      <!-- ======== ======== WORKS  ======== ======== -->
      <section id="process" class="process">
        <figure class="process__img-wrapper">
          <img
            src=""
            alt="Stay productive wherever you are image"
            class="process__img"
          />
        </figure>
        <div class="process__content">
          <h2 class="process__content__heading">
            Stay productive, <span> wherever you are</span>
          </h2>
          <p class="process__content__paragraph">
            Never let location be an issue when accessing your files. Fylo has
            you covered for all of your file storage needs.
          </p>
          <p class="process__content__paragraph">
            Securely share files and folders with friends, family and colleagues
            for live collaboration. No email attachments required.
          </p>
          <a href="#" class="process__content__link btn"
            >See how Fylo works
            <svg
              width="16"
              height="16"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <defs>
                <circle id="b" cx="6" cy="6" r="6" />
                <filter
                  x="-25%"
                  y="-25%"
                  width="150%"
                  height="150%"
                  filterUnits="objectBoundingBox"
                  id="a"
                >
                  <feOffset in="SourceAlpha" result="shadowOffsetOuter1" />
                  <feGaussianBlur
                    stdDeviation="1"
                    in="shadowOffsetOuter1"
                    result="shadowBlurOuter1"
                  />
                  <feColorMatrix
                    values="0 0 0 0 0.384313725 0 0 0 0 0.878431373 0 0 0 0 0.850980392 0 0 0 0.811141304 0"
                    in="shadowBlurOuter1"
                  />
                </filter>
              </defs>
              <g fill="none" fill-rule="evenodd">
                <g transform="translate(2 2)">
                  <use fill="#000" filter="url(#a)" xlink:href="#b" />
                  <use fill="#62E0D9" xlink:href="#b" />
                </g>
                <path
                  d="M8.582 6l-.363.35 1.452 1.4H5.333v.5h4.338L8.22 9.65l.363.35 2.074-2z"
                  fill="#1B2330"
                />
              </g>
            </svg>
          </a>
        </div>
      </section>
      <!-- ======== ======== WORKS END  ======== ======== -->
      <!-- ======== ======== TEAM  ======== ======== -->
      <section id="team" class="team">
        <div class="team__card">
          <p class="team__card__paragraph">
            Fylo has improved our team productivity by an order of magnitude.
            Since making the switch our team has become a well-oiled
            collaboration machine.
          </p>
          <div class="team__card__profile">
            <img
              src=""
              alt=""
              class="team__card__avatar team__card__avatar--1"
            />
            <h3 class="team__card__name">
              Satish Patel <span>Founder & CEO, Huddle</span>
            </h3>
          </div>
        </div>
        <div class="team__card">
          <p class="team__card__paragraph">
            Fylo has improved our team productivity by an order of magnitude.
            Since making the switch our team has become a well-oiled
            collaboration machine.
          </p>
          <div class="team__card__profile">
            <img
              src=""
              alt=""
              class="team__card__avatar team__card__avatar--2"
            />
            <h3 class="team__card__name">
              Bruce McKenzie <span>Founder & CEO, Huddle</span>
            </h3>
          </div>
        </div>
        <div class="team__card">
          <p class="team__card__paragraph">
            Fylo has improved our team productivity by an order of magnitude.
            Since making the switch our team has become a well-oiled
            collaboration machine.
          </p>
          <div class="team__card__profile">
            <img
              src=""
              alt=""
              class="team__card__avatar team__card__avatar--3"
            />
            <h3 class="team__card__name">
              Iva Boyd <span>Founder & CEO, Huddle</span>
            </h3>
          </div>
        </div>
      </section>
      <!-- ======== ======== TEAM  END ======== ======== -->
    </main>
    <!-- ======== ======== MAIN END  ======== ======== -->
    <!-- ======== ======== FOOTER  ======== ======== -->
    <footer id="footer" class="footer">
      <div class="footer__subscribe">
        <h3 class="footer__subscribe__heading">Get early access today</h3>
        <p class="footer__subscribe__paragraph">
          It only takes a minute to sign up and our free starter tier is
          extremely generous. If you have any questions, our support team would
          be happy to help you.
        </p>
        <form action="" class="footer__subscribe__form">
          <div class="form-control">
            <input type="email" id="email" placeholder="email@example.com" />
            <button class="footer__subscribe__btn btn btn__cyan">
              Get Started
            </button>
          </div>
        </form>
      </div>

      <figure class="footer__logo-wrapper">
        <img src="" alt="" class="logo" />
      </figure>

      <div class="footer__contact-info">
        <div class="footer__contact-info__intro">
          <svg width="13" height="18" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.188 0C2.74 0 0 2.79 0 6.3 0 10.98 6.188 18 6.188 18s6.187-7.02 6.187-11.7c0-3.51-2.74-6.3-6.188-6.3zm0 8.55c-1.238 0-2.21-.99-2.21-2.25s.972-2.25 2.21-2.25c1.237 0 2.21.99 2.21 2.25s-.973 2.25-2.21 2.25z"
              fill="#FFF"
              fill-rule="evenodd"
            />
          </svg>
          <p class="footer__contact-info__intro__pargraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua
          </p>
        </div>

        <ul class="footer__contact-info__list footer__contact-info__list--1">
          <li class="footer__contact-info__item">
            <svg width="18" height="18" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M17 12.5c-1.2 0-2.4-.2-3.6-.6-.3-.1-.7 0-1 .2l-2.2 2.2c-2.8-1.4-5.1-3.8-6.6-6.6l2.2-2.2c.3-.3.4-.7.2-1-.3-1.1-.5-2.3-.5-3.5 0-.6-.4-1-1-1H1C.4 0 0 .4 0 1c0 9.4 7.6 17 17 17 .6 0 1-.4 1-1v-3.5c0-.6-.4-1-1-1zM16 9h2c0-5-4-9-9-9v2c3.9 0 7 3.1 7 7zm-4 0h2c0-2.8-2.2-5-5-5v2c1.7 0 3 1.3 3 3z"
                fill="#FFF"
                fill-rule="evenodd"
              />
            </svg>

            <a href="" class="footer__contact-info__link">+1-543-123-4567</a>
          </li>
          <li class="footer__contact-info__item">
            <svg width="20" height="16" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                <path d="M-2-4h24v24H-2z" />
                <path
                  d="M18 0H2C.9 0 0 .9 0 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2zm0 14h-2V5.2L10 9 4 5.2V14H2V2h1.2L10 6.2 16.8 2H18v12z"
                  fill="#FFF"
                />
              </g>
            </svg>

            <a href="" class="footer__contact-info__link">example@fylo.com</a>
          </li>
        </ul>

        <ul class="footer__contact-info__list footer__contact-info__list--2">
          <li class="footer__contact-info__item">
            <a href="" class="footer__contact-info__link">About Us </a>
          </li>
          <li class="footer__contact-info__item">
            <a href="" class="footer__contact-info__link">Jobs</a>
          </li>
          <li class="footer__contact-info__item">
            <a href="" class="footer__contact-info__link">Press</a>
          </li>
          <li class="footer__contact-info__item">
            <a href="" class="footer__contact-info__link">Blog</a>
          </li>
        </ul>

        <ul class="footer__contact-info__list footer__contact-info__list--3">
          <li class="footer__contact-info__item">
            <a href="" class="footer__contact-info__link">Contact Us</a>
          </li>
          <li class="footer__contact-info__item">
            <a href="" class="footer__contact-info__link">Terms</a>
          </li>
          <li class="footer__contact-info__item">
            <a href="" class="footer__contact-info__link">Privacy</a>
          </li>
        </ul>

        <div class="footer__contact-info__icons">
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-icon name="logo-twitter"></ion-icon>
          <ion-icon name="logo-instagram"></ion-icon>
        </div>
      </div>
      <!-- <p class="attribution">
      Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
      Coded by <a href="#">Your Name Here</a>.
    </p> -->
    </footer>
  </body>
</html>
